.projects-index-body
  %h2.top-title
    あなたのプロジェクト一覧
  .projects-board-area
    .projects-board-area__project
      %p.projects-board-area__project--name
        = link_to "プロジェクト名", "#"
    .projects-board-area__project
      %p.projects-board-area__project--name
        = link_to "プロジェクト名", "#"
    .projects-board-area__project
      %p.projects-board-area__project--name
        = link_to "プロジェクト名", "#"