.tasks-index-body
  .board-area
    %span.board-area--project-name
      プロジェクト名
    =link_to "#", class: "new-task" do
      +新しいタスクを追加
    .board-area--board
      .board-area--board--status
        %h3.board-area--board--status__logo
          ToDo
        - @tasks.each do |task|
          .postit
            .potit--title
              = task.name
      .board-area--board--status
        %h3.board-area--board--status__logo
          Doing
      .board-area--board--status
        %h3.board-area--board--status__logo
          Done