.users-new-header {
  margin: 20px auto;
  width: 700px;
  h2 {
    margin: 20px 0;
    font-size: 20px;
    text-align: center;
    color: #719bad;
  }
  .users-new-container {
    width: 700px;
    background-color: #eeeeee;
    padding-top: 20px;
    padding-bottom: 50px;
    position: relative;
    margin-bottom: 20px;
    .new-user-box {
      display: block;
      margin: 10px auto;
      width: 80%;
      border: solid 1px #719bad;
      border-radius: 4px;
    }
    .new-user-btn {
      position: absolute;
      right: 80px;
      background-color: #91c4e5;
      border-radius: 4px;
      border: none;;
      padding: 5px;
      color: #fff;
      &:hover{
        opacity: 0.8;
      }
    }
  }
  .sign-in-up-link {
    text-decoration: none;
    color: #719bad;
    &:hover {
      border-bottom: solid 1px #719bad;
    }
  }
}